name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: EstebanAP1
          template: classic
          base: header, activity, community, repositories, metadata

          config_allow_private: yes

          config_timezone: America/Bogota
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
